<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TiVi DB Manager</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
  <link rel='stylesheet' href='https://unpkg.com/vue-snotify@latest/styles/material.css'>
  <link rel="stylesheet" href="{{ url_for('static',filename='./style.css') }}">
  <script src="https://kit.fontawesome.com/2e15182377.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

</head>
<body>
<div id="app">
  <vue-snotify></vue-snotify>
  <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
  	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">TiVi DB Manager</a>
  	<ul class="navbar-nav px-3">
  		<li class="nav-item text-nowrap">
        <div class="action-icons">
            <span class="icon edit">
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </span>
        </div>
  		</li>
  	</ul>
  </nav>

  <div class="container-fluid">
  	<div class="row">
  		<nav class="col-md-2 d-none d-md-block sidebar">
  			<div class="sidebar-sticky">
  				<ul class="nav flex-column">
            <li class="nav-item">
  						<a class="nav-link" href="/"><i class="fa-solid fa-database icons-menu"></i>Manager<span class="sr-only">(current)</span></a>
  					</li>
            <li class="nav-item">
  						<a class="nav-link" href="/movies"><i class="fa-solid fa-film icons-menu"></i>Movies<span class="sr-only">(current)</span></a>
  					</li>
            <li class="nav-item">
  						<a class="nav-link" href="#"><i class="fa-solid fa-video icons-menu"></i>Series<span class="sr-only">(current)</span></a>
  					</li>
  				</ul>
  			</div>
        <hr></hr>

  		</nav>


{% if current_path == '/' %}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
        <div class="projects mb-4">
          <div class="projects-inner">

            <div v-if="currentQueueStatus.length > 0" class="download-queue-container">
                <!-- Total Movies Block with Spoiler -->
                <div class="block">
                    <h2>Queue (<span v-html="currentQueueStatus.length"></span>):</h2>
                    <div class="spoiler">
                      <template v-for="item in currentQueueStatus">
                        <div class="movie-item">
                            <span><strong>Movie:</strong> <a :href="item.url"><span v-html="item.name"></span></a></span>
                            <span><strong>Added:</strong> <span v-html="item.add_time"></span></span>
                            <span><strong>Language:</strong> <span v-html="item.translation.name"></span></span>
                            <span><strong>Type:</strong> <span v-html="item.type"></span></span>
                            <span><strong>ID:</strong> <span v-html="item.uid"></span></span>
                        </div>
                      </template>
                    </div>
                    <div class="spoiler-toggle" onclick="toggleSpoiler()">
                        <i class="fas fa-chevron-down"></i>
                        Show/Hide
                    </div>
                </div>

                <div class="block">
                    <h2>Active:</h2>
                    <div class="movie-item">
                        <span><strong>Movie:</strong> <a :href="currentInProgressStatus.url"><span v-html="currentInProgressStatus.name"></span></a></span>
                        <span><strong>Added:</strong> <span v-html="currentInProgressStatus.add_time"></span></span>
                        <span><strong>Language:</strong> <span v-html="currentInProgressStatus.translation"></span></span>
                        <span><strong>Type:</strong> <span v-html="currentInProgressStatus.type"></span></span>
                        <span><strong>ID:</strong> <span v-html="currentInProgressStatus.uid"></span></span>
                        <span><strong>Status:</strong>  <span v-html="currentInProgressStatus.status"></span></span>
                        <span><strong>Log:</strong>  <span v-html="currentInProgressStatus.log"></span></span>
                    </div>
                </div>
            </div>

            <div v-else class="info-message">
                <div class="info-message-text">Queue is empty, please add files for processing to TiVi DB</div>
            </div>

            <!-- table -->
              <header class="projects-header">
                <div class="title">Database (<span v-html="metadataList.length"></span>):</div>
              </header>
              <table class="projects-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Translation</th>
                    <th>Bucket</th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="item in metadataList">
                     <tr>
                      <td>
                        <p><span v-html="item.name"></span></p>
                        <p><span v-html="item.type"></span></p>
                      </td>
                      <td>
                        <p><span v-html="formatDuration(item.duration)"></span></p>
                      </td>
                      <td>
                        <p><span v-html="item.translation.name"></span></p>
                      </td>
                      <td>
                        <p><span v-html="item.bucket"></span></p>
                      </td>
                     </tr>
                  </template>
              </tbody>
            </table>


          </div>
        </div>
      </main>












{% endif %}


{% if current_path == '/movies' %}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
        <div class="projects mb-4">
          <div class="projects-inner">


            <header class="projects-header">
              <div class="title">Search movies</div>
              <div class="search-bar">
                  <input type="text" v-model="searchQuery" placeholder="Enter movie title..." @keydown.enter="search" >
                  <button @click="search">Search</button>
              </div>
            </header>

            <table v-if="content.length > 0" class="poster-table">
                <thead>
                    <tr>
                        <th>Poster</th>
                        <th>Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="movie in content" :key="movie.link">
                        <td class="poster-cell">
                            <img :src="movie.poster" alt="Poster" class="poster">
                        </td>
                        <td>
                            <h2>
                                <a :href="movie.link" target="_blank" v-html="movie.name"></a>
                            </h2>
                            <p>Year: <span v-html="movie.year"></span></p>
                            <p>Translation: <span v-html="movie.translation"></span></p>
                            <hr></hr>
                            <div class="kp-input">
                                <button class="action-button" @click="openModal(movie.name, movie.link)">ADD TO TIVI DATABASE</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div v-if="content.length > 0" class="pagination">
                <button @click="changePage(1)" :disabled="current_page <= 1">First</button>
                <button @click="changePage(current_page - 1)" :disabled="current_page <= 1"><i class="fa-solid fa-left-long"></i></button>
                <span v-if="current_page > 2">...</span>
                <span v-for="page in pagesArray" :key="page">
                    <button @click="changePage(page)" :class="{ 'active': page === current_page }">
                        <span v-html="page"></span>
                    </button>
                </span>
                <span v-if="current_page < pages - 1">...</span>
                <button @click="changePage(current_page + 1)" :disabled="current_page >= pages"><i class="fa-solid fa-right-long"></i></button>
                <button @click="changePage(pages)" :disabled="current_page >= pages">Last</button>
            </div>

          </div>
        </div>
      </main>
{% endif %}

  	</div>
  </div>


  <div v-if="showModal" class="modal">
      <div class="modal-content">
        <button class="modal-close" @click="closeModal">&times;</button>
        <div v-if="selectedType.length < 1" class="loader-container"> <div class="loader"></div> </div>

        <template v-if="selectedType.length > 0">
          <br></br>
          <div class="series-table-container">
              <table class="series-table">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>ID</th>
                          <th>Type</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td><a :href="modalLink" target="_blank"><span v-html="modalName"></span></a></td>
                          <td><span v-html="selected_filmix_id"></span></td>
                          <td><span v-html="selectedType"></span></td>
                      </tr>
                  </tbody>
              </table>
          </div>

          <hr></hr>
          <div v-if="selectedType === 'series'" class="series-table-container">
              <table class="series-table">
                  <thead>
                      <tr>
                          <th>Total seasons</th>
                          <th>Total seriess</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="series-table-seasons"><span v-html="seriesResult.seasons"></span></td>
                      <td class="series-table-seasons"><span v-html="seriesResult.episodes"></span></td>
                    </tr>
                  </tbody>
              </table>
          </div>

          <select v-model="selectedTranslation">
              <option value="" disabled>Select Translation</option>
              <template v-for="translation in translations" :key="translation.id">
                  <option :value="translation" v-html="translation.name"></option>
              </template>
          </select>
          <button @click="addToDb">ADD TO TIVI DATABASE</button>
        </template>

      </div>
  </div>

</div>
<script src='https://unpkg.com/vue-snotify@3.2.1/vue-snotify.min.js'></script>
<script src="{{ url_for('static',filename='./script.js') }}"></script>
</body>
</html>
