<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TiVi DB Manager</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
  <link rel="stylesheet" href="{{ url_for('static',filename='./style.css') }}">
  <script src="https://kit.fontawesome.com/2e15182377.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

</head>
<body>
<div id="app">
  <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
  	<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">TiVi DB Manager</a>
  	<ul class="navbar-nav px-3">
  		<li class="nav-item text-nowrap">
        <div class="action-icons">
            <span class="icon edit">
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </span>
        </div>
  		</li>
  	</ul>
  </nav>

  <div class="container-fluid">
  	<div class="row">
  		<nav class="col-md-2 d-none d-md-block sidebar">
  			<div class="sidebar-sticky">
  				<ul class="nav flex-column">
            <li class="nav-item">
  						<a class="nav-link active" href="/"><i class="fa-solid fa-film icons-menu"></i>Movies<span class="sr-only">(current)</span></a>
  					</li>
            <li class="nav-item">
  						<a class="nav-link" href="#"><i class="fa-solid fa-video icons-menu"></i>Series<span class="sr-only">(current)</span></a>
  					</li>
  				</ul>
  			</div>
        <hr></hr>

  		</nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-3">
        <div class="projects mb-4">
          <div class="projects-inner">


            <header class="projects-header">
              <div class="title">Search movies</div>
              <div class="search-bar">
                  <input type="text" v-model="searchQuery" placeholder="Enter movie title..." @keydown.enter="search" >
                  <button @click="search">Search</button>
              </div>
            </header>

            <table v-if="content.length > 0" class="poster-table">
                <thead>
                    <tr>
                        <th>Poster</th>
                        <th>Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="movie in content" :key="movie.link">
                        <td class="poster-cell">
                            <img :src="movie.poster" alt="Poster" class="poster">
                        </td>
                        <td>
                            <h2>
                                <a :href="movie.link" target="_blank" v-html="movie.name"></a>
                            </h2>
                            <p>Year: <span v-html="movie.year"></span></p>
                            <p>Translation: <span v-html="movie.translation"></span></p>
                            <hr></hr>
                            <div class="kp-input">
                                <button class="action-button" @click="openModal(movie.name, movie.link)">ADD TO TIVI DATABASE</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div v-if="content.length > 0" class="pagination">
                <button @click="changePage(1)" :disabled="current_page <= 1">First</button>
                <button @click="changePage(current_page - 1)" :disabled="current_page <= 1"><i class="fa-solid fa-left-long"></i></button>
                <span v-if="current_page > 2">...</span>
                <span v-for="page in pagesArray" :key="page">
                    <button @click="changePage(page)" :class="{ 'active': page === current_page }">
                        <span v-html="page"></span>
                    </button>
                </span>
                <span v-if="current_page < pages - 1">...</span>
                <button @click="changePage(current_page + 1)" :disabled="current_page >= pages"><i class="fa-solid fa-right-long"></i></button>
                <button @click="changePage(pages)" :disabled="current_page >= pages">Last</button>
            </div>

          </div>
        </div>
      </main>

  	</div>
  </div>


  <div v-if="showModal" class="modal">
      <div class="modal-content">
          <button class="modal-close" @click="closeModal">&times;</button>
          <h2><a :href="modalLink" target="_blank"><span v-html="modalName"></span></a></h2>
          <div class="id-modal-label"><p>ID: <span v-html="selected_filmix_id"></span></p></div>
          <select v-model="selectedTranslation">
              <option value="" disabled>Select Translation</option>
              <template v-for="translation in translations" :key="translation.id">
                  <option :value="translation" v-html="translation.name"></option>
              </template>
          </select>
          <button @click="addToDb">ADD TO TIVI DATABASE</button>
      </div>
  </div>


</div>
<script src="{{ url_for('static',filename='./script.js') }}"></script>
</body>
</html>
